<h1>Lista produktow</h1>
<table border="1px">
    <% @products.each do |p| %>
      <tr>
        <th align="center" width="20"><%= p.id %></th>
        <th align="center" width="20"><%= p.name %></th>
        <th align="center" width="20"><%= image_tag p.image.thumb.url if p.image.present? %></th>
        <th align="center"><%= truncate(p.description, length: 50) %></th>
        <th align="center"><%= link_to "Zobacz wiecej...", front_product_url(id: p.id) %></th>
        <br>
      </tr>
    <% end %>
</table>

